html, body {
    height: auto;
}

header {
    text-align: center;
    padding: 12px;
}

#main {
    height: auto;
}

.project {
    max-width: 90%;
    margin: auto;
    border: 3px solid #333;
    border-radius: 6px;
    background-color: #fdff8c;
    padding: 10px;
    padding-bottom: 30px;
}

.fa-plus {
    font-size: 14px;
    line-height: 16px;
}

.project h3 {
    padding: 12px 0;
    display: inline-block;
}

.minimized {
    margin-bottom: 0;
    border-bottom: 1px solid black;
}